Edycja autora:
{{form_start(form)}}
{{form_row(form.name)}}
{{form_row(form.surname)}}
{{form_row(form.isDead)}}
{{form_row(form.sex)}}
{{form_row(form.birthDay)}}
<button type="submit">Zapisz</button>
{{form_end(form)}}
