{% extends 'LinkerBundle::base.html.twig' %}

{% block title %}Witaj {% endblock %}

{% block body %}

Formularz:
{{form_start(form)}}
{{form_errors(form)}}
{{form_row(form.longLink)}}
{{form_row(form.modyficator)}}
Opcjonalne:
{{form_row(form.shortLink)}}
{{form_row(form.password)}}
{{form_row(form.description)}}
<button type="submit">Utwórz krótki URL</button>
{{form_end(form)}}

{% endblock %}